.banner {
  height: 254px;
  background: linear-gradient(to bottom, #e3f7ff, #5fcaf4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  height: auto;
}
