.section {
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.sub {
  font-size: 13px;
  color: #555;
  margin-bottom: 12px;
}

.cardContainer {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 12px;

  /* 스크롤바 숨김 */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

.subText {
  font-size: 14px;
  width: 20%;
  margin-top: 5px;
  text-align: center;
  color: #999;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  transition: color 0.2s ease;
}
