.container {
  padding: 20px;
  background-color: white;
  margin-top: -50px;
  border-radius: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.sub {
  font-size: 13px;
  color: #555;
  margin-bottom: 12px;
}

.card {
  display: flex;
  align-items: center;
  background: #e7f0ff;
  border-radius: 12px;
  padding: 16px;
}

.icon {
  font-size: 40px;
  margin-right: 16px;
}

.info {
  display: flex;
  flex-direction: column;
}

.city {
  font-size: 16px;
  font-weight: bold;
}

.temp {
  font-size: 14px;
}
