.wrapper {
  padding: 24px;
  max-width: 430px;
  margin: 0 auto;
}

.title {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  margin-bottom: 16px;
  padding: 56px 0 0;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 16px;
}

.emptyText {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
  color: #888;
  font-size: 1.1rem;
}
