.container {
  text-align: center;
}
.question {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}
.option {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
}
.active {
  background-color: #a7e6fb;
  border-color: #00bcd4;
}
