#root {
  position: relative;
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* 선택 사항 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #000;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* 필요에 따라 center로 */
  min-height: 100vh;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: inherit;

}

button {
  cursor: pointer;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}
