.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.toggleBtn {
  background: #fffacd;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.selectAll {
  background: #eee;
  color: black;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  padding: 6px 10px;
  cursor: pointer;
}
